.cart-widget {
    position: relative;
    display: inline-block;
}

/* Link carrito */
.linkCarrito {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5184f1; 
    border-radius: 50%;
    padding: 0.6rem;
    transition: background 0.2s ease;
}

.linkCarrito:hover {
    background: #3f72e0; /*#e5e7eb;*/
}

/* Imagen carrito */
.imgCarrito {
    width: 28px;
    height: 28px;
    object-fit: contain;
}

/* Badge de cantidad */
.cantidadCarrito {
    position: absolute;
    top: -5px;
    right: -5px;
    background: #ef4444; /* rojo */
    color: white;
    font-size: 0.75rem;
    font-weight: bold;
    border-radius: 50%;
    padding: 0.25rem 0.55rem;
    text-align: center;
    box-shadow: 0 2px 6px /*rgba(0,0,0,0.15)*/;
}